{% extends "base.html.twig" %}

{% block title %}
	Créer une catégorie
{% endblock %}

{% block body %}
	<h1>Créer une catégorie</h1>

	{{ form_start(formView) }}

	{{ form_widget(formView) }}

	<button type="submit" class="btn btn-success">
		<i class="fas fa-save"></i>
		Créér
	</button>

	{{ form_end(formView) }}


{% endblock %}
